<head>

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="blog, accent, {{ SITENAME }}, pelican">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700|Ubuntu:400,300,300italic,500,700|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css">

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    {#

    {% if page.url %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% endif %}

    {% if site.favicon %}
        <link rel="icon" type="image/ico" href="{{ site.favicon_location }}">
        <link rel="shortcut-icon" type="image/ico" href="{{ site.favicon_location }}">
    {% endif %}
    {% if site.twitter_username %}
        <link rel="author" href="https://twitter.com/{{ site.twitter_username }}">
    {% endif %}
    <!-- Facebook Open Graph -->
    <meta name="og:description" content="{{ desc }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:url" content="{{ url }}">
    <meta name="og:type" content="article">
    {% if site.og_image %}
        <meta name="og:image" content="{{ site.og_image }}">
    {% endif %}
    {% if site.facebook_id %}
        <meta name="fb:admins" content="{{ site.facebook_id }}">
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:url" content="{{ url }}">
    {% if site.twitter_image %}
        <meta name="twitter:image" content="{{ site.twitter_image }}">
    {% else %}
        <meta name="twitter:image" content="{{ site.profile_picture }}">
    {% endif %}
    #}
</head>