{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<section class="intro">
    <div class="container">
        <h2 class="site-name">
        Tags for {{ SITENAME }}
        </h2>
    </div>
</section>

<section class="post-list">
<div class="container">
    {% for tag, articles in tags|sort(True) %}
        <div class="post-preview">
            <span class="post-title alignable pull-left">
                <a class="post-link underline" href="{{ SITEURL }}/{{ tag.url }}">
                    {{ tag }}
                </a>
            </span>
            <span class="alignable pull-right">
                ({{ articles|count }})
            </span>
            <div style="clear:both"></div>
        </div>
    {% endfor %}
</div>
</section>

{% endblock %}
