{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<section>
    <ul>
        {% for article in articles_page.object_list %}
        <li>
            <div class="post-date">
                <span>{{ article.date|strftime("%b %d, %Y") }}</span>
            </div>
            <div class="title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

{% include '_pagination.html' %}
{% endif %}
{% endblock content %}
