{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}

<section id="content" class="body">
	<header class="post-header">
	    <h1 class="post-title" itemprop="name headline">
	    <a class="post-title-link"  href="{{ SITEURL }}/authors.html" title="Permalink to Authors on {{ SITENAME }}">Authors on {{ SITENAME }}</a></h1>
	</header>

    <ul>
    {% for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
    {% endfor %}
    </ul>
</section>

{% endblock %}
