{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives for {{ period | reverse | join(' ') }}{% endblock %}

{% block content %}
<h1 class="page-title">Archives for {{ period | reverse | join(' ') }}</h1>
<hr/>

{% for group in dates|groupby('date.year') %}
<h2 id="y{{ group.list[0].date|strftime('%Y') }}" class="page-title">{{ group.list[0].date|strftime('%Y') }}</h2>
<ul class="related-posts">
{% for article in group.list %}
<li>
    <h4>
      <a href="{{ SITEURL }}/{{ article.url }}">
        <span>{{ article.title }}</span>
        <small>{{ article.date|strftime("%m/%d") }}</small>
      </a>
    </h4>
  </li>
{% endfor %}
</ul><hr/>
{% endfor %}
{% endblock %}
